*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-content: center;
    height: 100vh;
    background: #000;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container img{
    width: min(100%, 250px);
    aspect-ratio: 4/5;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 5px;
}

img:hover{
    width: 260px;
}

.container:hover>img:not(:hover){
    filter: blur(5px);
}
